*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: $bgc;
  color: $tc;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: $tablet-size) {
  body {
    background-color: tomato;
  }
}
