.card {
  min-inline-size: 200px;
  max-inline-size: 500px;
  box-shadow: 0 0 4px black;
  border-radius: 4px;
  color: black;
  font-family: sans-serif;

  &__image {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
  }
  &__content {
    padding: 20px;
    font-size: 24px;
  }
}